:root {
    /* Project colors */
    --primary-color: #000000;
    --secondary-color: #d14a51;
    --tertiary-color: #247BA0;
    --default-color: #EEF0F2;
    --hover-mode: #a7a7a7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Nunito", Helvetica, sans-serif;
    color: var(--primary-color);
    background-color: var(--default-color);
}

/* HEADER */
header {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    background-color: var(--primary-color);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo img {
    height: 50px;
}

.logo a {
    display: flex;
    align-items: end;
    margin: 5px 50px 0 0;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 50px;
    margin: 0;
    padding: 0;
}

nav a {
    color: var(--default-color);
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

nav a:hover {
    color: var(--hover-mode)
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: var(--default-color);
    margin: 5px;
    transition: all 0.3s ease;
}

#lang-btn {
    cursor: pointer;
    padding: 6px 12px;
    background-color: var(--tertiary-color);
    color: var(--default-color);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

#lang-btn:hover {
    background-color: var(--hover-mode);
}
/* END HEADER */

/* MAIN */
main {
    padding: 20px 10vw;
    text-align: center;
}

/* START HERO */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin-bottom: 40px;
    padding: 20px;
}

.hero-text {
    flex: 1;
    max-width: 600px;
    margin-right: 100px;
}

.hero-text h1, h1 {
    font-size: 2.5em;
    color: var(--primary-color);
    margin-bottom: 20px;
    font-family: "Nunito",'Georgia', serif;
    font-weight: bold;
}

.hero-text p {
    font-size: 1.2em;
    line-height: 1.5;
    margin-bottom: 20px;
    margin-right: 30px;
}

.hero-image {
    flex: 1;
    max-width: 300px;
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
}

.hero-image img {
    width: 130%;
    border-radius: 10px;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.hero-image img:first-child {
    opacity: 1;
}

button {
    margin-top: 20px;
    margin-right: 10PX;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: var(--secondary-color);
    color: var(--default-color);
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--hover-mode);
}

.hero-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* END HERO */

/* PROJECTS - INDEX */
.projectsTitle{
    font-size: 40px;
    margin: 20px 0;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-items: center;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    max-width: 400px;
    margin: 0 auto 20px auto;
}

.project img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}
.project a,
.project p {
    text-decoration: none;
    color: var(--primary-color);
}

/* END PROJECT - INDEX */

/* START FOOTER */
footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: var(--primary-color);
    color: var(--default-color);
    font-size: 16px;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer .social {
    display: flex;
    gap: 15px;
    margin-top: 10px;
    margin-left: 10px;
}

footer .social a {
    display: inline-block;
    transition: transform 0.3s;
}

footer .social a:hover {
    transform: scale(1.2);
}

footer .social img {
    width: 30px;
    height: 30px;
    filter: grayscale(100%);
    transition: filter 0.3s;
    border-radius: 10px;
}

footer .social img:hover {
    filter: grayscale(0%);
}
/* END FOOTER */

/* ABOUT ME */
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px 80px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 20px;
}

.bio {
    text-align: left;
}

.bio h3{
    margin-top: 20px;
}

.bio ul{
    margin-left: 30px;
}

/* PROJECT - PROJECTS */
.projectTitle{
    font-size: 30px;
    margin: 30px 0;
}
.category{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-items: center;
}

.project-info {
    text-align: left;
}

.project-info h3 {
    margin-top: 0;
}

.project-info a {
    text-decoration: none;
    color: #1e1e1e;
    font-size: 22px;
}

.project-info p {
    color: #666;
    line-height: 1.6;
}

.technologies {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.technologies img {
    width: 30px;
    height: 30px;
}


/* CONTACT */
.contact-info {
    margin-bottom: 20px;
}

.contact-info p {
    font-size: 18px;
    margin: 5px 0;
}

iframe {
    max-width: 100%;
}

.map {
    margin: 20px 0;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-top: 20px;
    font-size: 18px;
}

input, textarea {
    width: 100%;
    max-width: 500px;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
}

@media (max-width: 915px) {
    header {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    nav ul {
        flex-direction: column;
        gap: 5px;
        display: none;
    }

    nav ul.active {
        display: flex;
    }

    .burger {
        display: block;
    }

    .burger.toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .burger.toggle .line2 {
        opacity: 0;
    }

    .burger.toggle .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    .hero {
        display: block;
        margin: 0;
        padding: 0;
    }

    .hero-image {
        display: none;
    }

    .hero-text {
        text-align: center;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .projectsTitle{
    font-size: 30px;
    }
    .about {
        padding: 10px;
    }

    .about img {
        width: 100px;
        height: 100px;
    }
}
